/*Conocenos apartado*/
.sobre-nosotros{
    background-image: url('/img/inicio_img/IconGrid.png');
    background-size: cover;
    background-position: center;
    background-repeat: repeat;
    padding: 50px;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.sobre-nosotros h1{
    background-color: #F9FCE9;
    border-radius: 20px;
    margin: 5px;
    padding: 10px 20px;
    text-align: center;
}
.conoce-cards,
.conoce-cards *{
    box-sizing: border-box;
    
}
.conoce-cards{
    display: flex;
    gap: 15px;
    align-items: flex-start;
    justify-content: center;
    width: 80%;
    max-width: 1200px;
    margin-top: 20px;
}
.card{
    box-sizing: border-box;
    background-color: #F9FCE9;
    border-radius: 20px;
    padding: 20px;
    display: flex;
    align-items: center;
}
.imagen-card{
    flex: 1;
    background-color: transparent;
    padding: 0;
    display: flex;
    align-items: center;
}
.info-card{
    flex: 2;
    margin-top: 50px;
    display: flex;
    align-items: center;
}
.conoce-cards img{
    width: 100%;
    height: auto;
    border-radius: var(--radius-24);
}
.apartados-feature{
    text-align: center;
    padding: var(--seccion-espacio);
}
.apartados_container-feature{
    display: grid;
    gap: 20px;
}
.apartado_content-feature{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 10px;
    justify-items: center;
}
.apartado_card-feature{
    position: relative;
    width: 100%; 
    max-width: 350px; 
    background: linear-gradient(var(--verde--oscuro),var(--verde-menta));
    padding: 1rem;
    color: var(--white);
    border-radius: 1.5rem;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); 
    transition: transform 0.3s ease; 
    margin: 0 auto; 
}
.apartado_card-feature:hover{transform: translateY(-15px);}
.apartado_card-feature img {
    display: block;
    width: 60%; 
    height: auto; 
    margin: 0 auto;
    margin-bottom: 1rem; 
    margin-top: 1rem;
}