:root{
    /* COLORES */
    --verde--oscuro: #15352e;
    --verde-menta: #189688;
    --verde-pasto: #92b621;
    --crema: #edcfa9;
    --amarillo:  #efac19;
    --cafe: #865f37;
    --smoky-black-1: hsla(40, 12%, 5%, 1);
    --eerie-black-1: hsla(210, 4%, 9%, 1);
    --white: hsla(0, 0%, 100%, 1);
    --black: hsla(0, 0%, 0%, 1);

    /* TIPOGRAFIA */
    --fontFamily-oswald: 'Oswald', sans-serif;
    --fontFamily-robotoC: 'Roboto Condensed', sans-serif;

    /* TAMAÑO */
    --fontSize-display-1: calc(1.3rem + 6.7vw);
    --fontSize-headline-1: calc(2rem + 2.5vw);
    --fontSize-headline-2: calc(1.3rem + 2.4vw);
    --fontSize-title-1: calc(1.6rem + 1.2vw);
    --fontSize-title-2: 2.2rem;
    --fontSize-title-3: 2.1rem;
    --fontSize-title-4: calc(1.6rem + 1.2vw);
    --fontSize-body-1: 2.4rem;
    --fontSize-body-2: 1.6rem;
    --fontSize-body-3: 1.8rem;
    --fontSize-body-4: 1.6rem;
    --fontSize-label-1: 1.4rem;
    --fontSize-label-2: 1.2rem;

    --weight-regular: 400;
    --weight-bold: 700; 

    --lineHeight-1: 1em;
    --lineHeight-2: 1.2em;
    --lineHeight-3: 1.5em;
    --lineHeight-4: 1.6em;
    --lineHeight-5: 1.85em;
    --lineHeight-6: 1.4em;

   /* ESPACIADO DE LETRAS */
    --letterSpacing-1: 0.15em;
    --letterSpacing-2: 0.4em;
    --letterSpacing-3: 0.2em;
    --letterSpacing-4: 0.3em;
    --letterSpacing-5: 3px;

    /* ESPACIO ENTRE SECCIONES*/
    --seccion-espacio: 40px;

    /* SOMBRAS */
    --shadow-1: 0px 0px 25px 0px hsla(0, 0%, 0%, 0.25);

    /* BORDER RADIUS */
    --radius-24: 24px;
    --radius-circle: 50%;

    /* TRANSICIONES*/
    --transition-1: 250ms ease;
    --transition-2: 500ms ease;
    --transition-3: 1000ms ease;

    --loading-text-gradient: linear-gradient(90deg, transparent 0% 16.66%, var(--smoky-black-1) 33.33% 50%,  transparent 66.66% 75%);
    --gradient-1: linear-gradient(to top,hsla(0, 0%, 0%, 0.9),hsla(0, 0%, 0%, 0.7),transparent);
}

*, *::before, *::after { margin: 0;
    padding: 0;
    box-sizing: border-box; 
}

li { list-style: none;}

a, img, data, span, input, button, select, ion-icon, textarea { display: block;}

a {
    color: var(--white);
    text-decoration: none;
}

img { height: auto;}

input, button, select, textarea {
    background: none;
    border: none;
    font: inherit;
}

input, select, textarea {
    width: 100%;
    outline: none;
}

button { cursor: pointer;}

html{
    font-size: 10px;
    scroll-behavior: smooth;
}

body{
    background-color: var(--white);
    color: var(--black);
    font-family: var(--fontFamily-robotoC);
    font-size: var(--fontSize-body-4);
    font-weight: var(--weight-regular);
    line-height: var(--lineHeight-5);
    overflow: hidden;
    height: 100vh;
}

body.loaded{ overflow: overlay}
body.nav-active{overflow: hidden;}

::-webkit-scrollbar{width: 5px;}
::-webkit-scrollbar-track{background-color: transparent;}
::-webkit-scrollbar-thumb {background-color: var(--verde-pasto);}

/* Reusables .display-1,*/
.container{padding-inline: 16px;}

.headline-1, .headline-2,
.title-1, .title-2, .title-3, .title-4{
    color: var(--black);
    font-family: var(--fontFamily-oswald);
    font-weight: var(--weight-regular);
    line-height: var(--lineHeight-2);
}

.display-1 {
    font-size: var(--fontSize-display-1);
    line-height: var(--lineHeight-1);
}

.headline-1{font-size: var(--fontSize-headline-1);}
.headline-2{font-size: var(--fontSize-headline-2); line-height: var(--lineHeight-6);}

.title-1{font-size: var(--fontSize-title-1);}
.title-2{font-size: var(--fontSize-title-2);}
.title-3{font-size: var(--fontSize-title-3);}
.title-4{font-size: var(--fontSize-title-4);}

.body-1 {
    font-size: var(--fontSize-body-1);
    line-height: var(--lineHeight-6);
}
.body-2 {
    font-size: var(--fontSize-body-2);
    line-height: var(--lineHeight-4);
}
.body-3 {font-size: var(--fontSize-body-3);}
.body-4 {font-size: var(--fontSize-body-4);}

.label-1 {font-size: var(--fontSize-label-1);}
.label-2 {font-size: var(--fontSize-label-2);}

.text-center {text-align: center;}

.img-cover{
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px;
}

.section-subtitle{
  position: relative;
  font-size: 30px;
  color: var(--amarillo);
  font-weight: var(--weight-bold);
  text-transform: uppercase;
  letter-spacing: var(--letterSpacing-2);
  margin-block-end: 12px;
}

.btn{
  position: relative;
  color: var(--verde-pasto);
  font-size: var(--fontSize-label-2);
  font-weight: var(--weight-bold);
  text-transform: uppercase;
  letter-spacing: var(--letterSpacing-5);
  max-width: max-content;
  border: 2px solid  var(--verde-pasto);
  padding: 12px 45px;
  overflow: hidden;
  border-radius: 15px;
  z-index: 1;
}

.btn::before {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 50%;
  transform: translateX(-50%);
  width: 200%;
  height: 200%;
  border-radius: var(--radius-circle);
  background-color: var(--verde-pasto);
  transition: var(--transition-2);
  z-index: -1;
}

.btn .text {transition: var(--transition-1);}
.btn .text-2{
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  max-width: max-content;
  color: var(--black);
}

.btn:is(:hover, :focus-visible)::before {bottom: -50%;}
.btn:is(:hover, :focus-visible) .text-1{ transform: translateY(-40px);}

.btn:is(:hover, :focus-visible) .text-2{ 
  top: 50%;
  transform: translate(-50%, -50%);
}

.has-before,
.has-after {
  position: relative;
  z-index: 1;
}

.has-before::before,
.has-after::after {
  content: "";
  position: absolute;
}

.section{
  position:relative;
  padding-block: var(--seccion-espacio);
  overflow: hidden;
  z-index: 1;
}

.grid-list{
  display: grid;
  gap: 40px;
}

.w-100 { width: 100%; }

/* PRELOAD */
.preload{
    position: fixed; 
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--verde-menta);
    z-index: 10;
    display: grid;
    place-content: center;
    justify-items: center;
    transition: var(--transition-2);
}
.preload > * { transition: var(--transition-1);}
.preload.loaded > * {opacity: 0;}
.preload.loaded{
    transition-delay: 250ms;
    transform: translateY(100%);
}

.circle {
    width: 112px;
    height: 112px;
    border-radius: var(--radius-circle);
    border: 3px solid var(--crema);
    border-block-start-color: var(--smoky-black-1);
    margin-block-end: 45px;
    animation: rotate360 1s linear infinite;
}

@keyframes rotate360 {
    0%{transform: rotate(0);}
    100%{transform: rotate(1turn);}
}

.preload .text {
    background-image: var(--loading-text-gradient);
    background-size: 500%;
    font-size: calc(2rem + 3vw);
    font-weight: var(--weight-bold);
    line-height: 1em;
    text-transform: uppercase;
    letter-spacing: 16px;
    padding-inline-start: 16px;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-stroke: var(--crema);
    animation: loadingTxt 2s linear infinite;
}

@keyframes loadingTxt {
    0% {background-position: 100%;}
    100% {background-position: 0%;}
}

/* HEADER */
.header .btn { display: none; }

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: var(--verde--oscuro);
  padding-block: 15px;
  z-index: 4;
  border-block-end: 1px solid transparent;
  transition: var(--transition-1);
}

.header .btn{
  position: relative;
  color: var(--verde-pasto);
  font-size: var(--fontSize-label-2);
  font-weight: var(--weight-bold);
  text-transform: uppercase;
  letter-spacing: var(--letterSpacing-5);
  max-width: max-content;
  border: 2px solid  var(--verde-pasto);
  border-radius: 15px;
  padding: 12px 45px;
  overflow: hidden;
  z-index: 1;
}

.header.active {
  padding-block: 15px;
  background-color: var(--verde--oscuro);
  border-color: var(--verde--oscuro);
}

.header.hide {
  transform: translateY(-100%);
  transition-delay: 250ms;
}

.header .container {
  padding-inline: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 8px;
}

.nav-open-btn {
  padding: 12px;
  padding-inline-end: 0;
}

.nav-open-btn .line {
  width: 30px;
  height: 2px;
  background-color: var(--crema);
  margin-block: 4px;
  transform-origin: left;
  animation: menuBtn 400ms ease-in-out alternate infinite;
}

@keyframes menuBtn {
  0% { transform: scaleX(1); }
  100% { transform: scaleX(0.5); }
}

.nav-open-btn .line-2 { animation-delay: 150ms; }

.nav-open-btn .line-3 { animation-delay: 300ms; }

.navbar {
  position: fixed;
  background-color: hsla(231, 23%, 6%, 0.144);
  backdrop-filter: blur(16px);
        --webkit-backdrop-filter: blur(16px);
  top: 0;
  left: -360px;
  bottom: 0;
  max-width: 360px;
  width: 100%;
  padding-inline: 30px;
  padding-block-end: 50px;
  overflow-y: auto;
  visibility: hidden;
  z-index: 2;
  transition: var(--transition-2);
}

.navbar.active {
  visibility: visible;
  transform: translateX(360px);
}

.navbar .close-btn {
  color: var(--white);
  border: 1px solid currentColor;
  padding: 4px;
  border-radius: var(--radius-circle);
  margin-inline-start: auto;
  margin-block: 30px 20px;
}

.navbar .close-btn ion-icon { --ionicon-stroke-width: 40px; }

.navbar .close-btn:is(:hover, :focus-visible) { color: var(--black); }

.navbar .logo {
  max-width: max-content;
  margin-inline: auto;
  margin-block-end: 60px;
}

.navbar-list {
  border-block-end: 1px solid var(--verde-pasto);
  margin-block-end: 100px;
}

.navbar-item { border-block-start: 1px solid var(--verde-pasto); }

.navbar-link {
  display: flex;
  align-items: center;
  position: relative;
  text-transform: uppercase;
  padding-block: 10px;
  max-width: unset;
}

.navbar-link::after { display: none; }

.navbar-link .span { transition: var(--transition-1); }

.navbar-link:is(:hover, :focus-visible, .active) .span {
  color: var(--verde-pasto);
  transform: translateX(20px);
}

.navbar-link .leaf {
  position: absolute;
  color: var(--verde-menta);
  top: 50%;
  left: 0;
  transform: translateY(-50%) rotate(45deg);
  opacity: 0;
  transition: var(--transition-1);
}

.navbar-link:is(:hover, :focus-visible, .active) .leaf { opacity: 1; }

.navbar-title { margin-block-end: 15px; }

.navbar-text { margin-block: 10px; }

.navbar .body-4 { color: var(--crema); }

.sidebar-link { transition: var(--transition-1); }

.sidebar-link:is(:hover, :focus-visible) { color: var(--verde-pasto); }

.navbar .text-center .leaf {
  margin-block: 30px;
  margin-inline: auto;
}

.navbar .contact-label { margin-block-end: 10px; }

.navbar::-webkit-scrollbar-thumb { background-color: var(--crema); }

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  opacity: 0;
  pointer-events: none;
  transition: var(--transition-2);
  z-index: 1;
}

.overlay.active {
  opacity: 1;
  pointer-events: all;
}

/* Slider */
.slide .slider-btn{display:none;}
.slide{
  position: relative;
  padding-block: 120px;
  min-height: 100vh;
  overflow: hidden;
  z-index: 1;
}

.slide .slider-item{
  position: absolute;
  color: var(--white);
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 100%;
  height: 100%;
  display: grid;
  place-content: center;
  padding-block-start: 100px;
  opacity: 0;
  visibility: hidden;
  transition: var(--transition-3);
  z-index: 1;
}

.slide .slider-item.active{
  opacity: 1;
  visibility: visible;
}

.slide .slider-bg{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: scale(1.15);
  pointer-events: none;
  user-select: none;
  z-index: -1;
}

.slide .slider-item.active .slider-bg{
  animation: smoothS 7s linear forwards;
}

@keyframes smoothS {
  0% {transform: scale(1);}
  100% {transform: scale(1.15);}
}

.slide .section-subtitle::after{margin-block: 14px 20px;}
.slider-text{ 
  font-size: var(--fontSize-body-1);
  margin-block: 10px 40px;
}
.slide .btn{ 
  font-size: var(--fontSize-body-2);
  margin-inline: auto;
  border-radius: 10px;
}

.slide-reveal{
  transform: translateY(30px);
  opacity: 0;
}

.slide .slider-item.active .slider-reveal{
  animation: slidereveal 1s ease forwards;
}

@keyframes slidereveal {
  0%{
    transform: translateY(30px);
    opacity: 0;
  }
  100%{
    transform: translateY(0);
    opacity: 1;
  }
}

.slide .slider-item.active .section-subtitle{ animation-delay: 500ms;}
.slide .slider-item.active .slide-title{ animation-delay: 1000ms;}
.slide .slider-item.active .slider-text{ animation-delay: 1.5s;}
.slide .slider-item.active .btn{ animation-delay: 2s;}

/*Login-Registro*/
.container-form{
  display: flex;
  align-items: center;
  justify-content: center;
  margin:15px;
  max-width: 900px;
  border: solid thin var(--verde--oscuro);
  border-radius: 20px;
  transition: all 1s ease;
}
.information{
  width: 40%;
  display: flex;
  align-items: center;
  text-align: center;
  background-color: var(--crema);
 border-radius: 20px 0 0 20px;  
}

/*apartados*/
.apartados {
  text-align: center;
  padding: var(--seccion-espacio);
}
.btn-container{
  margin-top: 15px;
  margin-bottom: 15px;
  align-items: center;
  text-align: center;
  display: inline-block;
}
.apartados_container {
  display: grid;
  gap: 20px; 
}

.apartado_content {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr)); 
  gap: 20px;
  justify-items: center; 
}

.apartado_card {
  position: relative;
  width: 100%; 
  max-width: 250px; 
  background: linear-gradient(var(--verde--oscuro),var(--verde-menta));
  padding: 1rem;
  color: var(--white);
  border-radius: 1.5rem;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); 
  transition: transform 0.3s ease; 
  margin: 0 auto; 
}

.apartado_card:hover {transform: translateY(-15px); }

.apartado_card img {
  display: block;
  width: 50%; 
  height: auto; 
  margin: 0 auto;
  margin-bottom: 1rem; 
}

/*nosotros*/
.nosotros{
  background-image: url('public/img/IconGrid.svg');
  background-repeat: no-repeat;
  height: 100%;
  width: auto;
}

/*Footer*/
.footer{
  background-color: var(--verde--oscuro);
  color: var(--white);
  font-family: var(--fontFamily-robotoC);
  bottom: 0;
  width: 100%;
  position: sticky;
}
.footer .grupo-1{
  width: 100%;
  max-width: 100%;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-gap: 50px;
  padding: 45px 0px;
}
.footer .grupo-1 .box figure{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer .grupo-1 .box figure img{
  width: 200px;
}
.footer .grupo-1 .box h2{
  margin-top: 100px;
  font-size: 20px;
  font-weight: 500;
  font-family: var(--fontFamily-oswald);
}
.footer .grupo-1 .redsocial a{
  display: inline-block;
  margin-top: 25px;
  text-decoration: none;
  width: 45px;
  height: 45px;
  line-height: 45px;
  color: var(--amarillo);
  text-align: center;
  font-size: 30px;
}
.footer .grupo-2{
  background-color: var(--verde-menta);
  padding: 15px 10px;
  text-align: center;
}

/*botón de arriba*/
.back-top-btn{
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: var(--verde--oscuro);
  color: var(--crema);
  font-size: 22px;
  width: 50px;
  height: 50px;
  border-radius: var(--radius-circle);
  display: grid;
  place-items:  center;
  box-shadow: var(--shadow-1);
  transition: var(--transition-1);
  opacity: 0;
  visibility: hidden;
  z-index: 4;
}

.back-top-btn.btn:is(:hover, :focus-visible){
  background-color: var(--verde--oscuro);
  color: var(--crema);
}
.back-top-btn.active{
  opacity: 1;
  visibility: visible;
}

/* media querys*/
@media  (max-width: 575px){
  :root{
    --fontSize-body-2:2rem;
  }

  :is(.about) .section-text{
    max-width: 420px;
    margin-inline: auto;
  }

  .header{ top:0px;}
  .header.active{top: 0;}
  .header .btn{
    display: block;
    margin-inline-start: auto;
  }

  .slider-btn{transform: scale(0.7);}

  .about .container{gap: 80px;}
  .about-banner > .w-100{padding-inline-start: 90px;}
}

@media  (max-width: 768px){
  :is .container{max-width: 820px;}

  .navbar-list {margin-inline: 30px;}
  
  .header{ top:0px;}
  .header.active{top: 0;}
  .header .btn{
    display: block;
    margin-inline-start: auto;
  }

  
}

@media (min-width: 992px){
  :root{
    --section-space: 100px;
  }

  .features .grid-list { grid-template-columns: repeat(4, 1fr); }

  .mapa-section{
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: left;
  }
  .mapa-content{padding-inline: 50px 25px;}
  .mapa-content .container{position: relative;}

  .header{ top:0px;}
  .header.active{top: 0;}
  .header .btn{
    display: block;
    margin-inline-start: auto;
  }
  .nav-open-btn,
  .navbar > *:not(.navbar-list),
  .header .overlay { display: none; }

  .header .container { max-width: unset; }

  .navbar,
  .navbar.active,
  .navbar-list { all: unset; }

  .navbar,
  .navbar.active { margin-inline: auto 30px; }

  .navbar-list {
    display: flex;
    gap: 50px;
    font-size: 20px;
  }

  .navbar-item { border-block-start: none; }

  .navbar .separator { display: none; }

  .navbar-link:is(:hover, :focus-visible, .active) .span {
    transform: unset;
  }

  .navbar-link {
    font-weight: var(--weight-bold);
    letter-spacing: var(--letterSpacing-1);
  }

  .navbar-link::after { display: block; }

  .navbar-link.active::after {
    transform: scaleX(1);
    opacity: 1;
  }

  .header .btn { margin-inline-start: 0; }

}

@media (min-width: 1200px) {
  :root {
    --fontSize-title-2: 2.5rem;
  }
  .nav-open-btn,
  .navbar > *:not(.navbar-list),
  .header .overlay { display: none; }

  .header .container { max-width: unset; }

  .navbar,
  .navbar.active,
  .navbar-list { all: unset; }

  .navbar,
  .navbar.active { margin-inline: auto 30px; }

  .navbar-list {
    display: flex;
    gap: 50px;
    font-size: 20px;
  }

  .navbar-item { border-block-start: none; }

  .navbar .separator { display: none; }

  .navbar-link:is(:hover, :focus-visible, .active) .span {
    transform: unset;
  }

  .navbar-link {
    font-weight: var(--weight-bold);
    letter-spacing: var(--letterSpacing-1);
  }

  .navbar-link::after { display: block; }

  .navbar-link.active::after {
    transform: scaleX(1);
    opacity: 1;
  }

  .header .btn { margin-inline-start: 0; }
  .slide { height: 880px; }

  .header{ top:0px;}
  .header.active{top: 0;}
  .header .btn{
    display: block;
    margin-inline-start: auto;
  }

  .slide .slider-btn{
    display: grid;
    position: absolute;
    z-index: 1;
    color: var(--verde-pasto);
    font-size: 2.4rem;
    border: 1px solid var(--crema);
    width: 45px;
    height: 45px;
    place-items: center;
    top: 50%;
    transform: translateY(-50%) rotate(45deg);
    transition: var(--transition-1);
  }

  .slide .slider-btn ion-icon {transform: rotate(-45deg);}
  .slide .slider-btn.prev {left: 30px;}
  .slide .slider-btn.next {right: 30px;}
  .slide .slider-btn:is(:hover, :focus-visible){
    background-color: var(--verde--oscuro);
    color: var(--crema);

  .features .grid-list { grid-template-columns: repeat(4, 1fr); }
  }
}